.idea
*.iml
.project
.classpath
service-master/target/**
service-master/target/
client-master/target/
client-master/target/**
service-master/.settings
service-master/.settings/**
client-master/.settings
client-master/.settings/**

client-master/src/main/webapp/WEB-INF/prod-spring-servlet.xml
service-master/src/main/webapp/WEB-INF/prod-spring-servlet.xml